# Node modules
node_modules/

# Build output
build/

# Log files
*.log

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
jspm_packages/

# IDE/editor directories
.idea/
.vscode/
.history/

# OS-specific files
.DS_Store
Thumbs.db

# Package lock files (optional; typically included in version control)
package-lock.json
yarn.lock

# npm cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*


public/image