.anime {
  position: relative;
}

.anime_shaky {
  animation: 2s anime_shaky infinite;
}
@keyframes anime_shaky {
  0%,
  100% {
    top: -5px;
    left: 5px;
  }
  25% {
    top: 5px;
    left: 5px;
  }
  50% {
    top: 5px;
    left: -5px;
  }
  75% {
    top: -5px;
    left: -5px;
  }
}
