.LoadScreen,
.ErrorScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.LoadScreen {
  background-color: lime;
}

.ErrorScreen {
  background-color: red;
}

.icon {
  margin-bottom: 4px;
}
